<app-navigation-menu-user></app-navigation-menu-user>
<div class="container">
    <div class="row">
        <div class="col">

            <div class="container">
                <div class="row">
                    <h1>{{titulo}} </h1>
                    <hr>
                    <h3>Seleccione la Fecha y la Categoria que desee</h3>
                    <div class="col-1">
                        <div  class="form-group">
                            <select name="miselect" [(ngModel)]="year" style="color: white; background-color: #1D2833; border-radius: 15px;" class="form-control">
                                <option [value]="item" *ngFor="let item of lista">{{item}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <select name="miselect" [(ngModel)]="categoria" style="color: white; background-color: #1D2833; border-radius: 15px;" class="form-control">
                                <option [value]="item.nombre" *ngFor="let item of ListaCategorias">{{item.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-1">
                        <a type="button" class="btn btn-primary" href="http://localhost:4200/menuprincipal/dashboard/{{categoria}}/{{year}}" style="color: white; background-color: #1D2833;">Buscar</a>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 50px;">
                    <h2> </h2>

                    <div class="col" *ngFor="let top of ListaProductosByCategoryYearTop">
                        <div class="card" style="width: 20rem; background-color: #1D2833; padding: 20px; color:white; border-radius: 15px;">
                            <h1 class="text-center font-weight-bold">TOP {{top.number}}</h1>
                            <img [src]="image" class="card-img-top" alt="Card image cap" style="border-radius: 15px;">
                            <div class="card-body">
                                <h2 class="card-title">{{top.nombre}}</h2>
                                <h3 class="card-text">Cantidad vendida: {{top.cantidad}}</h3>
                                <h3 class="card-text">Total de ventas: {{top.precioTotal}}$</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="container" style="background-color: #1D2833; padding: 40px; border-radius: 15px;">
                        <div class="row">
                            <h1 style="color: white;" class="font-weight-bold">Productos mas vendidos</h1>
                        </div>
                        <br>
                        <div class="row" *ngFor="let producto of ListaProductosByCategoryYear">
                            <div class="card" style="width: 100rem; height: 12rem; background-color: rgb(21, 44, 44); color: white; margin-bottom: 15px; padding-top: 20px;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-3">
                                            <img [src]="image" class="card-img-top" style="width: 13rem; height: 9rem;" alt="...">
                                        </div>
                                        <div class="col-9">
                                            <div class="card-body">
                                                <h2 class="card-title">{{producto.nombre}}</h2>
                                                <h3 class="card-text">Total en ventas: {{producto.precioTotal}}$</h3>
                                                <h3 class="card-text">Cantidad vendido: {{producto .cantidad}}</h3>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>